#first {
    background-image: url("https://scontent.ftpe7-1.fna.fbcdn.net/v/t39.30808-6/387827862_1148241449466199_7304252599213582772_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=49d041&_nc_ohc=10_3OQUYjdEAX--o5dG&_nc_ht=scontent.ftpe7-1.fna&oh=00_AfCO7MG8gZS4LJauXiUK1Vtrew7L8MSRZR2IuixPYe2wug&oe=6528F899");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#second {
    background-image: url("https://scontent.ftpe7-3.fna.fbcdn.net/v/t39.30808-6/386715606_1148241412799536_3194507393226532163_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=49d041&_nc_ohc=Dw7Tyq-ErWAAX_CUHmp&_nc_ht=scontent.ftpe7-3.fna&oh=00_AfC6SppJV3FJqGZJYNJ0trBP1Extv_sC3vRrAYfOGbaKOg&oe=6527D65C");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#third {
    background-image: url("https://scontent.ftpe7-3.fna.fbcdn.net/v/t39.30808-6/387785683_1148241396132871_5876509518475412726_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=49d041&_nc_ohc=TSXS91t6Q0sAX-v95bF&_nc_ht=scontent.ftpe7-3.fna&oh=00_AfAaOcUsHBo7aBZI0_wvuXeQsHM2DvO2PojIrwCuf8oIQQ&oe=6527BA8F");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section1 div:first-child {
    background-image: url("https://scontent.ftpe7-2.fna.fbcdn.net/v/t39.30808-6/387133406_1148475886109422_4021031382296198515_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=49d041&_nc_ohc=JTEHQgNqBDIAX8S8V_M&_nc_ht=scontent.ftpe7-2.fna&oh=00_AfDvEPOwifZwSLSsClBsBltXrsJv6eGDawz80jNF5Xd2WQ&oe=65287047");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section2 div:first-child {
    background-image: url("https://scontent.ftpe7-3.fna.fbcdn.net/v/t39.30808-6/387786048_1148475932776084_8443015457614855488_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=49d041&_nc_ohc=SdsImKSKELsAX8B9IAf&_nc_ht=scontent.ftpe7-3.fna&oh=00_AfBcvzZCPKPzsbUFw3vPbBptop7T79powq5o36ReHpEUtg&oe=65289256");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section3 div:first-child {
    background-image: url("https://scontent.ftpe7-3.fna.fbcdn.net/v/t39.30808-6/387136054_1148475902776087_6916441401544727469_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=49d041&_nc_ohc=HMckbju4E48AX_Seo8R&_nc_oc=AQmmxacpSncmkxxjHauKjPc-LQILJvCfD0TLftR1NeNNyfIq2fG_tC9iLlygOsljO-c&_nc_ht=scontent.ftpe7-3.fna&oh=00_AfBh-0m-WVQrwzJ4K5c33U2iEUlRAxT_Ly1r8HwZTJnIYA&oe=65292918");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#fi {
    background-image: url("https://scontent.ftpe7-3.fna.fbcdn.net/v/t39.30808-6/387806053_1148461869444157_5650590035961203427_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=49d041&_nc_ohc=RFVPaWGV28EAX8FLXR7&_nc_ht=scontent.ftpe7-3.fna&oh=00_AfDbw7b2eKh1pe8jGe6QX0X5Pf4ibvuoyYKOoTRmfc6sWA&oe=65283CE1");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#se {
    background-image: url("https://scontent.ftpe7-2.fna.fbcdn.net/v/t39.30808-6/387794875_1148461879444156_5943491069764620_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=49d041&_nc_ohc=brwWEY4ckbIAX94R0e_&_nc_ht=scontent.ftpe7-2.fna&oh=00_AfBA8fk2vecB460rYqN3o7SjjI4v2r3X-bh2GB5ObsaXvg&oe=65290763");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#th {
    background-image: url("https://scontent.ftpe7-3.fna.fbcdn.net/v/t39.30808-6/387801016_1148461986110812_8630423231171278808_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=49d041&_nc_ohc=6yfnBC5RXzUAX8nAREy&_nc_ht=scontent.ftpe7-3.fna&oh=00_AfDjNlMq4y4_-ugoZQLNQhibvJ91ArdG0_iXN91_OfgC7A&oe=6528687C");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
